.header {
  transition: 0.15s;
  background-color: #21616d;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1;
}

.main {
  position: relative;
  top: 70px;
}

.h1:hover {
  transition: 0.15s;
  
  color: #DDD;
}

.h1:active {
  transition: 0.15s;

  color: #CCC;
}

.h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}